/* IE 7 styles */

#mid ul li ul
{
margin:-15px 0 0 0!important;
padding:0;
}

#mid ol li ol
{
margin:-15px 0 0 8px!important;
}

.searchbutton
{
padding:0 5px 1px 5px;
}

#cssmenu > ul > li > a {
  font-size: 1.2em!important;
}

.row .row {
	width: auto;
}

#search
{
margin-right: 20px!important;
font-size: 85%!important;
}


