@charset "utf-8";
/* CSS Document */

/*
================================================================================
Author:       Vera Mehta
Created:      20 September 2010 
Amended:      
================================================================================
*/


/*
--------------------------------------------------------------------------------
                               left navigation
--------------------------------------------------------------------------------
*/


#wrapper #xwrapper #main-content #left-nav li.current a {background:#606f00; padding:5px 5px 5px 25px; display:block; color:#fff;}
#wrapper #xwrapper #main-content #left-nav li.current a:hover {background-color:#000; color:#fff; list-style:none;}
#wrapper #xwrapper #main-content #left-nav li.current ul li.current-page a {margin:0!important; background:url("../images/bullets/green.gif") no-repeat scroll 6px 12px #afb77f; display:block; padding-left:20px; color:#000;}
#wrapper #xwrapper #main-content #left-nav li a:hover { background-image: url(../images/bullets/green.gif); background-repeat: no-repeat; background-position: 6px 10px; padding-left: 25px;}

/* Main content */

#wrapper #xwrapper #main-content h1, #wrapper #xwrapper #main-content h3 {color: #636b00;}
#wrapper #xwrapper #main-content h1 {background-image: url(../images/guidance-support/page-titles/page-title-bullet.gif) no-repeat;}
#wrapper #xwrapper #main-content h2 {background-image: url(../images/guidance-support/page-titles/page-sub-title-bullet.gif) no-repeat;}

#wrapper #xwrapper #main-content #content .landing-box a  {color:#606f00;}
#wrapper #xwrapper #main-content #content .landing-box ul {display:inline-block;margin-bottom:20px; margin-left:12px;}
#wrapper #xwrapper #main-content #content .landing-box ul li a {background:url("../images/bullets/green.gif") no-repeat scroll 5px 6px transparent; display:inline; padding-left:20px;}
#wrapper #xwrapper #main-content #content .landing-box a:hover {text-decoration:none;}